{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>☠i☠l☠i☠c☠h☠</title>

    <link rel="stylesheet" type="text/css" href="../ilich/static/style.css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet">

</head>



<body>

    <div class="buttonRegistration">

        <a class="signin">Sign IN</a>

        <a class="signup">Sign UP</a>
        <div id="window">
            <!-- Close window-->
            <img class="closeregwindow" src="../img/close.png" width="20" height="20" alt="картинка">
            <div class="form">
                <h2>Регистрация</h2>
                <form action="index.html" name="f1">
                    <input type="text" placeholder="Имя" name="name1" class="input">
                    <input type="text" placeholder="Фамилия" name="name2" class="input">
                    <input type="email" placeholder="Email" name="email1" class="input">
                    <input type="password" placeholder="Пароль" name="pass1" class="input">
                    <input type="password" placeholder="Подтвердите пароль" name="pass2" class="input">
                    <input type="submit" value="Регистрация" name="sab" class="input"> Нажимая «Регистрация», вы
                    подтверждаете,
                    что вы полный анимешник, как Илюха.
                </form>
            </div>
        </div>
</body>
</div>


<header>
    <pre>
 ██▓  ██▓     ██▓  ▄████▄   ██░ ██ 
▒▓██▒ ▓██▒   ▒▓██▒ ▒██▀ ▀█ ▒▓██░ ██ 
▒▒██▒ ▒██░   ▒▒██▒ ▒▓█    ▄░▒██▀▀██ 
░░██░ ▒██░   ░░██░▒▒▓▓▄ ▄██ ░▓█ ░██ 
░░██░▒░██████░░██░░▒ ▓███▀  ░▓█▒░██▓
 ░▓  ░░ ▒░▓   ░▓  ░░ ░▒ ▒    ▒ ░░▒░▒
░ ▒ ░░░ ░ ▒  ░ ▒ ░   ░  ▒    ▒ ░▒░ ░
░ ▒ ░   ░ ░  ░ ▒ ░ ░         ░  ░░ ░
  ░  ░    ░    ░   ░ ░       ░  ░  ░
</pre><br></header>

<main>
    <div class="menu">

        <div class="links">

            <div class="links-col">

                <div>техника</div>

                <a href="#">├ софт</a>

                <a href="#">├ железо</a>

            </div>

            <div class="links-col">

                <div>аниме</div>

                <a href="#">├ тайтлы</a>

                <a href="#">├ манга</a>

            </div>

            <div class="links-col">

                <div>аниме</div>

                <a href="#">├ тайтлы</a>

                <a href="#">├ манга</a>

            </div>

            <div class="links-col">

                <div>вейпинг</div>

                <a href="#">├ тайтлы</a>

                <a href="#">├ манга</a>

            </div>

            <div class="links-col">

                <div>аниме</div>

                <a href="#">├ тайтлы</a>

                <a href="#">├ манга</a>

            </div>

        </div>

    </div>

    <div class="menu">

        <form method="POST" action="{% url 'addInBoard' %}">

            {% csrf_token %}

            всего тредов: {{count}} <button>создать тред</button>
            {% block content%}{% endblock content %}
        </form>
    </div>



    {%for forum in forums reversed %}

    <div class="text">

        <p><a href='{{forum.link}}'><b>{{forum.topic}}</b></a> от: {{forum.name}} - {{forum.email|urlize}} -
            {{forum.datec}} - $id$

            <form method="POST" action="{% url 'addInThread' %}">

                {% csrf_token %}

                <button>ответить</button>

            </form>

        </p>

        {{forum.descr|urlize}}

    </div>





    {%for discuss in discussions%}

    {%for objs in discuss%}

    {% if objs.forum == forum %}

    <div class="text">

        <p>от: {{forum.name}} - {{forum.email|urlize}} - {{forum.datec}} - $id$

            <form method="POST" action="{% url 'addInThread' %}">

                {% csrf_token %}

                <button>ответить</button>

            </form>

        </p>



        {{objs.discuss|urlize}}

    </div>

    {% endif %}

    {%endfor%}

    {%endfor%}

    {%endfor%}





</main>

<div class="menu">

    <pre>без мобильной версий, без светлой темы, ☠web-1.0☠ style</pre>

</div>

<script>
    let counter = 0;

    window.onload = () => {

        const titles = [

            "il-hua",

            "обнаружен ☠вирус☠",

            "когда бд",

            "опять упал",

            "скоро открытие",
        ];

        setInterval(() => {

            counter++;

            document.title = titles[counter % titles.length];

            if (counter == titles.length) counter = 0;

        }, 500);

    };
</script>

</body>

</html>